volumes:
  envb:

services:
  tokamak-app-deployer:
    volumes:
      - ../../fixtures/genesis/l2b.json:${DOCKER_ETHREX_WORKDIR}/fixtures/genesis/l2.json
      - envb:/env/
    entrypoint:
      - /bin/bash
      - -c
      - touch /env/.env; ./ethrex l2 deploy "$0" "$@"
    command: >
      --use-compiled-genesis false
      --genesis-l2-path ${DOCKER_ETHREX_WORKDIR}/fixtures/genesis/l2.json
      --router.address ${ETHREX_SHARED_BRIDGE_ROUTER_ADDRESS}
      --randomize-contract-deployment

  tokamak-app-l2:

  tokamak-app-l2-b:
    container_name: tokamak-app-l2-b
    image: "ethrex:main-l2"
    build:
      context: ../../
      args:
        - BUILD_FLAGS=--features l2,l2-sql
    ports:
      # RPC
      - 127.0.0.1:1730:1730
      # Proposer
      - ${ETHREX_PROOF_COORDINATOR_ADDRESS:-127.0.0.1}:3901:3901
    environment:
      # Default values are taken from cmd/ethrex/l2/options.rs defaults.
      - ETHREX_ETH_RPC_URL=http://tokamak-app-l1:8545
      - ETHREX_L2_VALIDIUM=${ETHREX_L2_VALIDIUM:-false}
      - ETHREX_BLOCK_PRODUCER_BLOCK_TIME=${ETHREX_BLOCK_PRODUCER_BLOCK_TIME:-5000}
      - ETHREX_DEPLOYER_PICO_DEPLOY_VERIFIER=${ETHREX_DEPLOYER_PICO_DEPLOY_VERIFIER:-false}
      - ETHREX_WATCHER_BLOCK_DELAY=${ETHREX_WATCHER_BLOCK_DELAY:-0}
      - ETHREX_BASED=${ETHREX_BASED:-false}
      - ETHREX_BLOCK_PRODUCER_BASE_FEE_VAULT_ADDRESS
      - ETHREX_BLOCK_PRODUCER_OPERATOR_FEE_VAULT_ADDRESS
      - ETHREX_BLOCK_PRODUCER_OPERATOR_FEE_PER_GAS
      - ETHREX_BLOCK_PRODUCER_L1_FEE_VAULT_ADDRESS
      - ETHREX_WATCHER_L1_FEE_VAULT_ADDRESS
      - ETHREX_STATE_UPDATER_SEQUENCER_REGISTRY=${ETHREX_STATE_UPDATER_SEQUENCER_REGISTRY:-0x0000000000000000000000000000000000000000}
      - ETHREX_COMMITTER_COMMIT_TIME=${ETHREX_COMMITTER_COMMIT_TIME:-60000}
      - ETHREX_WATCHER_WATCH_INTERVAL=${ETHREX_WATCHER_WATCH_INTERVAL:-12000}
      - ETHREX_OSAKA_ACTIVATION_TIME=${ETHREX_OSAKA_ACTIVATION_TIME:-1761677592}
      - ETHREX_WATCHER_L2_RPCS
      - ETHREX_WATCHER_L2_CHAIN_IDS
      - ETHREX_WATCHER_ROUTER_ADDRESS
      - ETHREX_LOG_LEVEL
    volumes:
      - ../../fixtures/genesis/l2b.json:/genesis/l2.json
      - envb:/env/
    entrypoint:
      - /bin/bash
      - -c
      - export $(xargs < /env/.env); ./ethrex l2 "$0" "$@"
    # ETHREX_WATCHER_BRIDGE_ADDRESS and ETHREX_COMMITTER_ON_CHAIN_PROPOSER_ADDRESS are set in the .env file by the contract_deployer service.
    command: >
      --network /genesis/l2.json
      --http.addr 0.0.0.0
      --http.port 1730
      --authrpc.port 8553
      --proof-coordinator.addr 0.0.0.0
      --block-producer.coinbase-address 0x0007a881CD95B1484fca47615B64803dad620C8d
      --committer.l1-private-key 0x385c546456b6a603a1cfcaa9ec9494ba4832da08dd6bcf4de9a71e4a01b74924
      --proof-coordinator.l1-private-key 0x39725efee3fb28614de3bacaffe4cc4bd8c436257e2c8bb887c4b5c4be45e76d
      --datadir dev_ethrex_l2b
      --proof-coordinator.port 3901
      --no-monitor
    depends_on:
      tokamak-app-deployer:
        condition: service_completed_successfully
