name: Publish Ethrex docs to https://docs.ethrex.xyz/

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
  pull_request:
    paths:
      - "docs/**"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  lint:
    # "Lint" is a required check, don't change the name
    name: Lint
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: "0.4.51"

      - name: Install mdbook dependencies
        run: make docs-deps

      - name: Build documentation
        run: make docs

      - name: Upload docs artifact
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: book/html
          retention-days: 1

  link-check:
    name: Link Check
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4

      - name: Check links
        uses: lycheeverse/lychee-action@v2
        with:
          args: --no-progress --exclude 'localhost' --exclude 'medium.com' docs/
          fail: true

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: lint
    if: ${{ github.ref == 'refs/heads/main' }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Download docs artifact
        uses: actions/download-artifact@v4
        with:
          name: docs
          path: book/html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: book/html
          destination_dir: . # root of gh-pages
          keep_files: true # do not erase flamegraphs/ or benchmarks/
          cname: docs.ethrex.xyz # always commit the CNAME file
